<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diary</title>
</head>
<link rel="stylesheet" href="/static/Diary.css">
<body>
    <nav>
        <img src="/static/images/Logo.png" alt="logo">
        <div class="opt">
            <ul>
                <li><a href="">HOME</a></li>
                <li><a href="">TO-DO-LIST</a></li>
                <li><a href="">NOTES</a></li>
                <li><a href="">DIARY</a></li>
            </ul>
        </div>
    </nav>
    <form method="POST" class="diary">
    <div class="Topic"><input type="text" placeholder="So what is Today's Topic ??"></div>
    <main>
       
        <textarea name="Diary" id="content" rows="5" cols="30"></textarea>
        <div class="history">
            <h1>MY DIARIES</h1>
            
        </div>
    </main>
    <button type="submit" class="save">Save</button>
</form>


    <script src="/static/Diary.js"></script>
</body>
</html>