<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskTrek</title>
</head>
<link rel="stylesheet" href="/static/Home 2.css">
<body>
    <nav>
        <img src="/static/images/Logo.png" alt="logo">
        <div class="opt">
            <span><a href="">Account</a></span>
        </div>
    </nav>
    <main>
    <div class="info">
        <h1>Task Trek</h1>
        <h2>Task Trek is website created in 2024 for a better time management in this you can do some tasks like
        <ol>
            <li>Make A To-Do-List</li>
            <li>Make Your Notes</li>
            <li>Maintain A Jounal</li>
        </ol></h2>

    </div>
    <div class="motive">
        <div class="motive_box">
            <div class="motive_box2">
            <span class="welcome">Welcome To Task Trek!!</span>
            <div class="btn">
            <button onclick="window.location.href='todo'">To-Do-List</button>
            <button onclick="window.location.href='notes'">Notes</button>
            <button onclick="window.location.href='diary'">DIARY</button>
        </div>
    </div>

        </div>

    </div>
</main>
</body>
</html>