<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskTrek</title>
</head>
<link rel="stylesheet" href="/static/Home.css">
<body>
    <nav>
        <img src="/static/images/Logo.png" alt="logo">
        <div class="opt">
            <ul>
                <li><a href="">HOME</a></li>
                <li><a href="">TO-DO-LIST</a></li>
                <li><a href="">NOTES</a></li>
                <li><a href="">DIARY</a></li>
            </ul>
        </div>
    </nav>
    <main>
    <div class="info">
        <h1>Task Trek</h1>
        <h2>Task Trek is website created in 2024 for a better time management in this you can do some tasks like
        <ol>
            <li>Make A To-Do-List</li>
            <li>Make Your Notes</li>
            <li>Maintain A Jounal</li>
        </ol></h2>

    </div>
    <div class="acc">
        <div class="acc_box">
            <div class="acc_box2">
            <span class="welcome">Welcome To Task Trek!!</span>
            <div class="btn">
                <button onclick="window.location.href='signup'">SIGN UP</button>
                <button onclick="window.location.href='login'">SIGN IN</button>
                
           
    </div>

        </div>

    </div>
</main>
</body>
</html>