<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
</head>
<link rel="stylesheet" href="Mylists.css">
<body>
    <nav>
        <img src="Logo.png" alt="logo">
        <div class="opt">
            <ul>
                <li><a href="">HOME</a></li>
                <li><a href="">TO-DO-LIST</a></li>
                <li><a href="">NOTES</a></li>
                <li><a href="">DIARY</a></li>
            </ul>
        </div>
    </nav>
    <div class="showlist">
        <h1>list name</h1>
    </div>
    <div class="list">
        <h1>list name</h1>
        
    </div>
    <script src="Mylists.js"></script>
</body>
</html>