<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
</head>
<link rel="stylesheet" href="/static/Notes.css">
<body>
    <nav>
        <img src="/static/images/Logo.png" alt="logo">
        <div class="opt">
            <ul>
                <li><a href="">HOME</a></li>
                <li><a href="">TO-DO-LIST</a></li>
                <li><a href="">NOTES</a></li>
                <li><a href="">DIARY</a></li>
            </ul>
        </div>
    </nav>
    <div class="addNote">
        <h1>New Note</h1>
        <img src="/static/images/addNote.svg" alt="">
    </div>
    <form method="POST" action="javascript:void(0);" class="form">
    <div class="note">
        <h1>Add your Note</h1>
        <textarea name="" id="new_note"></textarea>
        <button class="add" type="submit">Add Note</button>
    </div>
</form>
    <script src="/static/Notes.js"></script>
    
</body>
</html>