<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do List</title>
</head>
<link rel="stylesheet" href="/static/ToDo.css">
<body>
   
    <nav>
        <img src="/static/images/Logo.png" alt="logo">
        <div class="opt">
            <ul>
                <li><a href="">HOME</a></li>
                <li><a href="">MY LISTS</a></li>
                
            </ul>
        </div>
    </nav>
    <main>
        <form method="post" class="send"></form>
        <span>To Do List<button type="submit">Add Task</button></span>
        <div class="container"></div>
    </form>
    </main>

    <script src="/static/ToDo.js"></script>
</body>
</html>